<%-include('./view/common/header.ejs')%>
<style>
    body {
        padding: 50px 0 40px 0;
    }

    .container {
        width: 1024px;
        margin: auto;
    }

    .ui-state-highlight {
        height: 1.5em;
        line-height: 1.2em;
    }

    .swiper-wrapper {
        display: block;
    }

    .ko-box {
        position: relative;
    }

    .ko-op {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }

    .swiper-slide {
        position: relative;
    }

    .ko-op-sub {
        position: absolute;
        right: 0;
        top: 0;
    }

    .edit-work {
        width: 320px;
        height: 608px;
        float: left;
        position: fixed;
        top: 60px;
        z-index: 1;
        border: 1px solid #e7e7e7;
        background: #fff;

    }

    .edit-work-body {
        margin: 38px 0 0 0;
        height: 568px;
        overflow: auto;
        margin-right: 0;
    }

    .edit-work .navbar-nav {
        margin-right: 0;
        position: absolute;
        right: 0;
        width: 100%;
        background: #f8f8f8;
    }

    .edit-work li.navbar-btn {
        float: right;
    }

    .edit-work .edit-contain {
        margin: 10px;
    }
</style>
<div>
    <input name="projectName" value="<%=project.projectName%>" style="display: none;" />
    <input name="pageName" value="<%=project.pageName%>" style="display: none;" />

    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""> LOGO1 </a>
                </div>
                <ul class="nav navbar-nav navbar-right" style="margin-right:0;">
                    <li class="navbar-btn">
                        <button type="button" class="btn btn-default" data-toggle="dropdown" aria-haspopup="true"
                            onclick="$.saveContent()" aria-expanded="false">
                            保存
                        </button>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li class="navbar-btn">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                轮播 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a onclick="$.addBaner('banner1')">banner</a></li>
                                <li><a onclick="$.addBaner('onlyPic')">onePic</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-btn">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                产品 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="navbar-btn">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                页尾 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

        <div id="containment-wrapper" class="row">
            <div id="work-body" class="work-container">
                <!-- 这里动态查询编辑内容 -->

            </div>
            <div id="edit-work" class="edit-work">
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-btn">
                        <span class="glyphicon glyphicon-remove" style="margin-right: 8px;"></span>
                    </li>
                </ul>
                <div class="edit-work-body">
                    <div class="edit-contain">
                        <div class="form-group">
                            <label for="keywords">keywords</label>
                            <input type="text" class="form-control" name="keywords" placeholder="关键字"
                                autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="description">description</label>
                            <input type="text" class="form-control" name="description" placeholder="用途描述"
                                autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 新增工程模态框（Modal） -->
<button id="edit-modal" style="display: none;" type="button" class="btn btn-default" data-toggle="modal"
    data-target="#myModal">新增</button>

<div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        替换图片
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleInputFile">上传图片</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="close-myModal" type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="$.uploadImg()">
                        提交
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/template.js"></script>
<script>
    (function () {


        var projectName = $("input[name=projectName]").val();
        var pageName = $("input[name=pageName]").val();
        $("#edit-work").draggable();

        $.ajax({
            url: "/editContent",
            type: "post",
            data: {
                projectName: projectName,
                pageName: pageName
            },
            success: function (res) {
                if (res.status == 200) {
                    var keywords = $(res.data).siblings("meta[name=keywords]").attr("content");
                    var description = $(res.data).siblings("meta[name=description]").attr("content");
                    $("#work-body").html(res.data.match(/<body>[\S\s]*?<\/body>/) || "");
                    $("#sortable").sortable({
                        placeholder: "ui-state-highlight",
                        revert: true
                    });
                    $("input[name=keywords]").val(keywords);
                    $("input[name=description]").val(description);
                }
            }
        })

        $.saveContent = function () {
            var projectName = $("input[name=projectName]").val();
            var pageName = $("input[name=pageName]").val();
            var keywords = $("input[name=keywords]").val();
            var description = $("input[name=description]").val();
            var content = $("#work-body").html();
            $.ajax({
                url: "/saveContent",
                type: "post",
                data: {
                    projectName: projectName,
                    pageName: pageName,
                    keywords: keywords,
                    description: description,
                    content: content
                },
                success: function (res) {
                    if (res.status == 200) {
                        window.location.href = "/";
                    }
                }
            })
        }
        $.addBaner = function (type) {
            $("#sortable").append($.template[type]);
        }
        $.editBanner = function (obj) {
            $.curEditObj = obj;
            $("#edit-modal").click();
        }
        $.deleteBanner = function (obj) {
            $.curEditObj = obj;
            $($.curEditObj._t).parents(".swiper-slide").remove();
        }
        //删除整块组件
        $.deleteKo = function (obj) {
            $.curEditObj = obj;
            $($.curEditObj._t).parents(".ko-box").remove();
        }
        $.uploadImg = function () {
            var projectName = $("input[name=projectName]").val();
            var pageName = $("input[name=pageName]").val();
            var data = new FormData();
            var file = $("#exampleInputFile")[0]["files"][0];
            data.append("file", file);
            data.append("projectName", projectName);
            data.append("pageName", pageName);
            $.ajax({
                url: "/upload",
                type: "POST",
                contentType: false,
                processData: false,
                cache: false,
                dataType: "json",
                data: data,
                success: function (res) {
                    if (res.status == 200) {
                        var url = res.copyPath;
                        url = url.split("font")[1];
                        $($.curEditObj._t).parents(".swiper-slide").find("img").attr("src", url);
                        $("#close-myModal").click();
                    }
                }
            })
        }

    })()
</script>

<%-include('./view/common/footer.ejs')%>